# Data — keep only Parquet and CSV files
/data/raw/*
!/data/raw/*.parquet
!/data/raw/*.csv

/data/processed/
/data/cache/

# Models & indexes (still excluded)
#/models/base/
/models/trained/
/faiss/

# Logs (excluded)
#/logs/
/logs/*
/notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
*.egg-info/
